.wp-block-goodblocks-slider {
	position: relative;
	width: 100%;

	.wp-block-goodblocks-slide {
		display: none;
		width: 100%;
	}

	&[data-layout="overlay"] {
		min-height: auto;
		.wp-block-goodblocks-slide {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&[data-layout="below"] {
		min-height: auto;
		.wp-block-goodblocks-slide {
			position: relative;
			width: 100%;
		}
	}
}

// Show active slide.
.wp-block-goodblocks-slider[data-current-slide="0"] .wp-block-goodblocks-slide:nth-child(1),
.wp-block-goodblocks-slider[data-current-slide="1"] .wp-block-goodblocks-slide:nth-child(2),
.wp-block-goodblocks-slider[data-current-slide="2"] .wp-block-goodblocks-slide:nth-child(3),
.wp-block-goodblocks-slider[data-current-slide="3"] .wp-block-goodblocks-slide:nth-child(4),
.wp-block-goodblocks-slider[data-current-slide="4"] .wp-block-goodblocks-slide:nth-child(5),
.wp-block-goodblocks-slider[data-current-slide="5"] .wp-block-goodblocks-slide:nth-child(6),
.wp-block-goodblocks-slider[data-current-slide="6"] .wp-block-goodblocks-slide:nth-child(7),
.wp-block-goodblocks-slider[data-current-slide="7"] .wp-block-goodblocks-slide:nth-child(8),
.wp-block-goodblocks-slider[data-current-slide="8"] .wp-block-goodblocks-slide:nth-child(9),
.wp-block-goodblocks-slider[data-current-slide="9"] .wp-block-goodblocks-slide:nth-child(10) {
	display: block;
}
