.goodblocks-form-preview {
	display: grid;
	gap: 1rem;
	max-width: 42rem;

	label {
		display: grid;
		gap: 0.4rem;
	}
}

.goodblocks-form-field-settings {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
